body {
    background-color: #fafafa;
    color: #757575;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 95px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Consolas","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

button:hover {
    background-color: rgba(158,158,158,.2);
}

button:active {
    background-color: rgba(158,158,158,.4);
}

button.icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

button .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
}

input {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
}

main {
    background: #fff;
    width: 700px;
    margin: 70px auto;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    background-color: tomato;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    display: inline-block;
    color: #323330;
    margin: 1rem auto;
}

/* Todo Item */

.todo-item {
    display: flex;
    font-size: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .2s;
    user-select: none;
    padding: 1em;
    align-items: center;
}

.todo-item.completed * {
    color: lightgray;
}

.todo-item .checkbox {
    margin-right: .5rem;
}

.todo-item .title {
    margin-left: 9px;   
}

.todo-item .title,
.todo-item .textfield {
    margin-right: auto;
}

.todo-item.completed .title {
    text-decoration: line-through;
}

.todo-item.editing .title {
    display: none;
}

.todo-item .textfield {
    display: none;
}

.todo-item.editing .textfield {
    display: block;
}

.button-wrap {
    display: flex;
}

/* Todo form */

#todo-form {
    display: flex;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 10px;
}

#todo-form input {
    flex: 1;
    transition: all .2s;
}

#todo-form input:focus {
    border: 1px solid #f0db4f;
}

#todo-form button {
    margin-left: 10px;
}

@media screen and (max-width: 750px) {
    main {
        width: 90%;
    }

    .todo-item button {
        opacity: 1;
    }

    .todo-item button {
        min-width: 70px;
        padding: 0 0px;
    }
}

@media screen and (max-width: 500px) {
    .todo-item {
        padding: 5px;
        font-size: 12px;
    }
    .todo-item button {
        min-width: 60px;
        font-size: 12px;
    }
    input {
        font-size: 12px;
    }
}